body,
.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.header-bar {
  background-color: #f9322c;
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}


@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  transition: all 0.5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

.delete-post-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
} 

 .pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

/* Custom CSS for the sidebar */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 0.3s;
  background-color: #343a40; /* Sidebar background color */
}

#sidebar h1{

  margin-top: 25%;

}

/* Add a media query to hide the sidebar below 1206px width */
@media (max-width: 1250px) {
  #sidebar {
      display: none;
  }

  #content {
      margin-left: 0;
  }
}

/* Rest of your CSS styles for larger screens */
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
}



#sidebar ul li {
  padding: 5px;
  padding-left: 45%;
}

#sidebar ul li a{
  color: white;
}

#sidebar hr {
  border-color: white;
}
/* Custom CSS for the subcategories */

/* Custom CSS for the page content */
#content {
  margin-left: 250px;
  padding: 15px;
}

input[type=file] {  
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;;  
}   

input[type=file]::file-selector-button {
  border: none;
  background-color: #fff;
}